tensorflow
numpy
pandas
scikit-learn
matplotlib
seaborn
scipy
requests
split-folders
tqdm
opencv-python
Pillow
glob2
streamlit
google
google-auth
google-api-python-client
google-generativeai
ipython
ipykernel
keras